# Virtual Environments
.venv/
.venv_test/
venv/
env/
ENV/
env.bak/
venv.bak/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.pyc

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# OS System Files
.DS_Store
Thumbs.db
ehthumbs.db

# Environment variables
.env
.env.local
